@import "styles/variables";
@import "styles/mixins";

.blogContainer {
  @media (max-width: $tablet) {
    display: none;
  }
}

.blogList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
}

.blogItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.blogBlockTitle {
  font-size: $fontSize-16;
  line-height: $line-height-24;
  font-weight: $fontWeight-700;
  color: $white-color;
  letter-spacing: $letter-spacing-1;
  margin-top: 15px;
}

.blogInfoItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.blogDate {
  font-size: $fontSize-12;
  line-height: $line-height-18;
  font-weight: $fontWeight-400;
  color: $steel-gray-color;
  letter-spacing: $letter-spacing-03
}

.blogDateItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.blogDescription {
  font-size: $fontSize-17;
  line-height: $line-height-25;
  font-weight: $fontWeight-400;
  letter-spacing: $letter-spacing-03;
  color: $white-color;
}


