@import "styles/variables";
@import "styles/mixins";

.wrapper {
  @include flex-start-center();
  width: $width-100vw;
  height: 56px;
  box-shadow: 0 4px 4px $opacity03-gray-color;
}

.burgerMenuTitle {
  font-weight: $fontWeight-400;
  font-size: $fontSize-25;
  line-height: $line-height-375;
}

.menuPage {
  @include flex-start();
  flex-direction: column;
  top: 56px;
  left: 0;
  width: $width-100vw;
  height: $height-50vh;
  position: absolute;
  z-index: $zindex-4000;
  gap: $gap-10;
  background-color:  $light-grayish-color;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  overflow: hidden;
  visibility: hidden;

  &.open {
    transform: translateX(0);
    overflow: hidden;
    visibility: visible;
  }
}

.link {
  width: $width-100pr;
  height: $height-100pr;
}


.container {
  &.open {
    div:first-child {
      transform: rotate(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    div:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet) {
    display: none;
  }

  @media (max-width: $tablet) {
    @include flex-center-start();
    flex-direction: column;
    width: 40px;
    margin-left: 16px;
    grid-area: 1 / 2 / 2 / 3;
    grid-gap: 5px;
    height: $height-50pr;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  div {
    position: relative;
    z-index: $zindex-5000;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    transition: all 0.3s linear;
    transform-origin: 1px;
    background-color: $black-color;
  }
}



