@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.socialMediaBlock {
  display: flex;
  gap: $gap-10;
  padding: 0 5px;

  a:hover {
    transform: scale(1.2);
  }

  @media (max-width: $tablet) {
    display: none;
  }
}
