@import "styles/variables";
@import "styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsTitleItem {
  margin-top: 96px;
  font-size: $fontSize-50;
  font-weight: $fontWeight-400;
  line-height: $line-height-70;
  font-family: $fontFamily-TNR;
  color: $dark-gray-color;

  @media (max-width: $tablet) {
    margin-top: 20px;
    font-size: $fontSize-37;
    line-height: $line-height-50;
  }
}

.projectsDescriptionItem {
  font-family: $fontFamily-TNR;
  font-size: $fontSize-34;
  font-weight: $fontWeight-400;
  line-height: $line-height-476;
  color: $dark-gray-color;

  @media (max-width: $tablet) {
    font-size: $fontSize-30;
    line-height: $line-height-40;
    width: 290px;
    text-align: center;
  }
}
