// Sizes
$height-100vh: 100vh;
$height-60vh: 60vh;
$height-50vh: 50vh;

$width-100vw: 100vw;

$width-100pr: 100%;
$width-90pr: 90%;
$width-50pr: 50%;

$height-100pr: 100%;
$height-50pr: 50%;

// Gaps
$gap-2: 2px;
$gap-4: 4px;
$gap-10: 10px;
$gap-20: 20px;
$gap-30: 30px;
$gap-50: 50px;

// Font Weights
$fontWeight-400: 400;
$fontWeight-500: 500;
$fontWeight-700: 700;

// Font Sizes
$fontSize-12: 12px;
$fontSize-13: 13px;
$fontSize-14: 14px;
$fontSize-16: 16px;
$fontSize-17: 17px;
$fontSize-24: 24px;
$fontSize-25: 25px;
$fontSize-30: 30px;
$fontSize-34: 34px;
$fontSize-37: 37px;
$fontSize-40: 40px;
$fontSize-50: 50px;

//Font Family
$fontFamily-TNR: "Times New Roman", serif;
$fontFamily-Arial: 'Arial', sans-serif;

// Line Heights
$line-height-18: 18px;
$line-height-195: 19.5px;
$line-height-21: 21px;
$line-height-24: 24px;
$line-height-25: 25px;
$line-height-36: 36px;
$line-height-375: 37.5px;
$line-height-40: 40px;
$line-height-476: 47.6px;
$line-height-48: 48px;
$line-height-50: 50px;
$line-height-70: 70px;

// Screen Resolutions
$mobile: 390px;
$tablet: 768px;
$laptop: 1024px;
$bigScreen: 1920px;

// Colors
$blue-color: #1119ab;
$white-color: #ffffff;
$black-color: #000000;
$dark-yellow-color: #eec14a;
$opacity03-gray-color: #6767674C;
$dark-gray-color: #353537;
$graphite-gray-color: #303030;
$light-gray-color: #6e6e6e;
$slate-gray-color: #8C8C8C;
$steel-gray-color: #808080;
$light-grayish-color: #dcdbdb;
$dark-color: #212529;
$turquoise-color: #43CBCB;
$red-color: #D7403A;

// Letter Spacing
$letter-spacing-1: 1px;
$letter-spacing-07: 0.7px;
$letter-spacing-03: 0.3px;
$letter-spacing-015: 0.15px;

// z-index
$zIndex-4000: 4000;
$zIndex-5000: 5000;
