@import 'styles/variables';
@import 'styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  min-height: $height-100vh;
}

.main {
  @include flex-center-center();
  flex-direction: column;
}
