@import "styles/variables";
@import "styles/mixins";

.footer {
  @include flex-between-center;
  background-color: $graphite-gray-color;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap-20;
  width: $width-90pr;
  padding: 26px 0 50px;

  @media (max-width: $laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(1, 1fr);
    padding: 48px 0 22px;
  }
}

.containerBlock {
  @include flex-start();
  flex-direction: column;
  height: $height-100pr;

  @media (max-width: $tablet) {
    gap: $gap-20
  }
}

.privacyBlock {
  font-weight: $fontWeight-400;
  font-size: $fontSize-14;
  line-height: $line-height-21;
  color: $slate-gray-color;
  padding-bottom: 22px;

  @media (max-width: $tablet) {
    display: none;
  }
}

.underline {
  display: inline-block;
  border-bottom: 2px solid;
  margin-bottom: 2px;
}


.infoBlock {
  display: flex;
  justify-content: flex-start;
  width: $width-100pr;
  gap: $gap-50;
  margin: 10px 0 25px;

  @media (max-width: $tablet) {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}


