@import 'styles/variables';
@import 'styles/mixins';

.container {
  @include flex-center-center();
  flex-direction: column;
  padding: 60px 0;
}

.pageInformationStatus {
  font-size: $fontSize-24;
  font-weight: $fontWeight-700;
  line-height: $line-height-36;
  color: $dark-color;

  @media (max-width: $laptop) {
    font-size: $fontSize-17;
    font-weight: $fontWeight-700;
    line-height: $line-height-36;
  }
}
